/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #f5f5f5;
  }
  
  h1 {
    color: #007BFF;
  }
  
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  input[type="number"] {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    margin: 10px 0;
  }
  
  #gananciaNeta, #juegosGanados, #porcentajeGanados {
    font-weight: bold;
  }
  
  