/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #4c5674;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    color: #007BFF;
  }
  
  /* Estilos para etiquetas y campos de entrada */
  label, input[type="number"] {
    margin: 10px;
  }
  
  input[type="number"] {
    width: 70px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilos para el botón */
  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para la tabla */
  #tablaResultados {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
  }
  
  #tablaResultados th, #tablaResultados td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  #tablaResultados th {
    background-color: #007BFF;
    color: #fff;
  }
  
  #tablaResultados th:first-child {
    text-align: left;
  }
  